.container{
    width: 100%;
    min-height:100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
*{
    margin: 0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.todo-app{
    width:100% ;
    max-width: 340px;
    background: #fff;
    margin: 100px auto 20px ;
    padding: 20px 25px;
    border-radius:10px ;
    font-size: 24px;
}
.todo-icon{
    width: 30px;
    margin-left: 10px;
    height: 40px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    margin-bottom: 15px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom:25px ;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding:10px;
}
button{
   border:none;
   padding:16px 15px ;
   background: #ff5945;
   color: #fff;
   border-radius:40px ;
   font-size: 16px;
   cursor: pointer;

}
ul li{
    list-style:none ;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image:url("./unchecked.png") ;
    background-size:cover ;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color:#555 ;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("./checkedagain.png") ;
}
ul li span{
    position: absolute;
    right:0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size:22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background:#edeef0 ;

}

